@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

.footer { 
    /* width: 100%; */
    background-color: #333;
    color: white;
    font-family: "source sans pro";
    font-weight: 300;
}

.footer .body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-column-gap: 20px; 
    margin: 20px; 
    padding-top: 25px;
    padding: 25px; 
}

@media (min-width: 550px) {
    .footer .main-column{
        margin-left:20px; 
    }
  }


.footer .nested{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-row-gap: 20px;  */
    grid-gap: 20px; 
    grid-auto-columns: minmax(200px, auto);
}

@media (max-width: 800px) {
    .footer .nested{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media (max-width: 300px) {
    .footer .body{
        display: grid; 
        grid-template-columns: 1fr ;
    }

    .footer .nested{
        padding-top: 30px;
        display: grid; 
        grid-template-columns: 1fr;
    }
}

.footer-column>* { 
    margin: 0;
    font-size: 16px;
}

.blueprint-logo{
    /* margin-top: 20px; */
    height: 35px;
    /* margin-right: 5px; */
}

.footer-title{
    font-weight: 400;
}

.footer ul { 
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
} 

.main-column{
    display: grid; 
}

.stay-in-the-loop{
    align-self: end; 
}

.made-with-luv{
    background-color: #2F80ED;
    text-align: center;
}